<br ng-if="br"/>
<span ng-if="sort && !filters[field]['sort']" ng-click="filters[field]['sort'] = 'ASC'"
      class="pointer-cursor">
    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
</span>
<span ng-if="sort && filters[field]['sort'] == 'ASC'" ng-click="filters[field]['sort'] = 'DESC'"
      class="pointer-cursor">
    <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
</span>
<span ng-if="sort && filters[field]['sort'] == 'DESC'" ng-click="filters[field]['sort'] = ''"
      class="pointer-cursor">
    <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
</span>

<input ng-if="!useFilterSelectOptions && !multiSelectOptions && !dateRange && !dateTimeRange && !numericRange"
       type="text"
       class="form-control"
       ng-model="filters[field]['value']"/>

<ui-select ng-if="useFilterSelectOptions && !multiSelectOptions && !dateRange && !dateTimeRange && !numericRange" ng-model="filters[field]['value']">
    <ui-select-match placeholder="search...">
        <span>{{$select.selected.alias || $select.selected || $select.search}}</span>
        <a class="btn btn-xs btn-link pull-right" ng-click="clearSelectedFilterValue($event, $select)">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </ui-select-match>
    <ui-select-choices repeat="option in (filterSelectOptions | filter: $select.search)"
                       refresh="refreshFilterSelectOptionSearch($select)"
                       refresh-delay="1">
        <span>{{option.alias || option}}</span>
    </ui-select-choices>
</ui-select>

<div ng-if="multiSelectOptions"
     multi-select
     input-model="multiSelectOptions"
     output-model="filters[field]['multiSelect']"
     button-label="{{multiSelectOptionsLabel}}"
     item-label="{{multiSelectOptionsLabel}}"
     tick-property="ticked">
</div>

<input ng-if="dateRange && dateRange.disabled"
       class="form-control"
       ng-disabled="dateRange.disabled">

<input ng-if="dateRange && !dateRange.disabled"
       date-range-picker
       class="form-control date-picker"
       type="text"
       ng-model="filters[field]['dateRange']"
       options="opts"
       separator=" / "
       name="field_dateRange">

<input ng-if="dateTimeRange && dateTimeRange.disabled"
       class="form-control"
       ng-disabled="dateTimeRange.disabled">

<input ng-if="dateTimeRange && !dateTimeRange.disabled"
       date-range-picker
       class="form-control date-picker"
       type="text"
       ng-model="filters[field]['dateTimeRange']"
       options="opts"
       separator=" / "
       name="field_dateTimeRange">

<div ng-if="numericRange">
    <button class="btn btn-default" ng-click="showNumericRange = !showNumericRange;">
        <span class="glyphicon glyphicon-filter"></span>
    </button>
    <div ng-show="showNumericRange" style="width: 300px; padding: 8px; position:absolute; z-index: 10; background-color: #f5f5f5; border: 1px solid #adadad; border-radius: 5px;">
        <rzslider rz-slider-model="filters[field]['numericRange'].min"
                  rz-slider-high="filters[field]['numericRange'].max"
                  rz-slider-options="numericRange">
        </rzslider>
    </div>
</div>