<form class="form-inline">
    <div class="form-group">
        <select class="form-control" id="perPage" name="perPage" ng-if="ready" ng-model="info.perPage"
                ng-options="page as page for page in perPages" ng-change="changePagination()">
        </select>
    </div>
    <div class="form-group">
        <ul class="pims-pagination pagination" ng-if="info.isPaginated" id="pagination">
            <li ng-class="page.style" ng-if="true">
                <a ng-click="goToPage(1)">1</a>
            </li>
            <li ng-class="info.style.leftArrowStyle">
                <a ng-click="previousPage()" id="paginationPrevious" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active">
                <a ng-click="goToPage(info.chosenPage)" id="paginationCurrentPage">{{info.chosenPage}}</a>
            </li>
            <li ng-show="info.go2page">
                <input id="input-search"
                       name="myPage"
                       ng-model="myPage"
                       ng-keyup="$event.keyCode == 13 ? goToPage(myPage) : null"
                       placeholder="Enter Page">
                </input>
            </li>
            <li ng-class="info.style.rightArrowStyle">
                <a ng-click="nextPage()" id="paginationNext" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li ng-class="page.style" ng-if="true">
                <a ng-click="goToPage(info.totalPages)">{{info.totalPages}}</a>
            </li>
            <li ng-class="page.style" id='paginationTotal'>
                <a> <span><b>Total Results</b></span> - <i id="paginationNumber">{{info.totalElements}}</i></a>
            </li>
        </ul>
    </div>
</form>