<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Authorization page</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <script src="js/main.js"></script>
    <script src="js/directive/pagination.js"></script>
    <script src="js/directive/filter-sort.js"></script>
    <script src="js/service/global.js"></script>
    <script src="js/filter/toDate.js"></script>
    <script src="js/controller/authorization.js"></script>
    <script src="js/controller/token.js"></script>
    <script src="js/controller/model/access_token.js"></script>
    <script src="js/controller/model/refresh_token.js"></script>
</head>
<body ng-app="AsmeApp">

<div class="container" ng-controller="AuthorizationController as authController" data-ng-init="init()">
    <h2>Login</h2>

    <strong>{{error}}</strong>

    <div ng-if="!user" class="container unauthenticated">
        <div>
            <label>Username</label>
            <input type="text" ng-model="credentials.username" required/>

            <label>Password</label>
            <input type="password" ng-model="credentials.password" required/>

            <button ng-click="login()" class="btn btn-primary">Login</button>
        </div>
        <div>
            With Facebook: <a href="/login/facebook">click here</a>
        </div>
        <div>
            With Github: <a href="/login/github">click here</a>
        </div>
    </div>
    <div ng-if="user" class="container authenticated">
        Logged in as: <span id="user">{{user}}</span>
        <div>
            <button ng-click="logout()" class="btn btn-primary">Logout</button>
        </div>
    </div>
    <div>
        <button ng-click="init()" class="btn btn-primary">Refresh</button>
    </div>
</div>

<div class="container" ng-controller="TokenController as tokenController" data-ng-init="init()">
    <h2>Tokens</h2>

    <div class="btn-group pull-right">
        <asme-pagination data="tokens"
                         model="dataModel"
                         query="searchQuery"
                         refresh-registration="refreshRegistration">
        </asme-pagination>
    </div>

    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-2"><label>Token Id</label>
            <asme-filter-sort sort="true" br="true" filters="filters" field="tokenId"></asme-filter-sort>
        </div>
        <div class="col-md-2"><label>Username</label>
            <asme-filter-sort sort="true" br="true" filters="filters" field="user.username"></asme-filter-sort>
        </div>
        <div class="col-md-2"><label>Issue Date</label>
            <asme-filter-sort sort="true" br="true" filters="filters" field="user.issueDate"></asme-filter-sort>
        </div>
        <div class="col-md-2"><label>Revoked</label>
            <asme-filter-sort sort="true" br="true" filters="filters" field="revoked"></asme-filter-sort>
        </div>
        <div class="col-md-2"><label>Action</label></div>
    </div>

    <div ng-repeat="token in tokens">
        <div class="row">
            <div class="col-md-2">
                <a ng-click="toToken(token)" href="">{{token.tokenId}}</a>
            </div>
            <div class="col-md-2">{{token.username}}</div>
            <div class="col-md-2">{{token.issueDate | date : "yyyy-MM-dd HH:mm:ss"}}</div>
            <div class="col-md-2">{{token.revoked}}</div>
            <div class="col-md-2">
                <button ng-if="!token.revoked"
                        type="submit" style="margin-top: 5px; margin-bottom: 20px;"
                        class="btn btn-info"
                        data-ng-click="revokeRefreshToken(token)">REVOKE
                </button>
            </div>
        </div>
    </div>

    <h2>Access Tokens</h2>

    <div class="btn-group pull-right">
        <asme-pagination data="accessTokens"
                         model="accessTokenModel"
                         query="accessTokenSearchQuery"
                         refresh-registration="accessTokenRefreshRegistration">
        </asme-pagination>
    </div>

    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-2"><label>Token Id</label>
            <asme-filter-sort sort="true" br="true" filters="accessTokenFilters" field="tokenId"></asme-filter-sort>
        </div>
        <div class="col-md-2"><label>Username</label>
            <asme-filter-sort sort="true" br="true" filters="accessTokenFilters" field="user.username"></asme-filter-sort>
        </div>
        <div class="col-md-2"><label>Expiry Date</label>
            <asme-filter-sort sort="true" br="true" filters="accessTokenFilters" field="expiryDate"></asme-filter-sort>
        </div>
        <div class="col-md-2"><label>Revoked</label>
            <asme-filter-sort sort="true" br="true" filters="accessTokenFilters" field="revoked"></asme-filter-sort>
        </div>
        <div class="col-md-2"><label>Action</label></div>
    </div>

    <div ng-repeat="accessToken in accessTokens">
        <div class="row">
            <div class="col-md-2">{{accessToken.tokenId}}</div>
            <div class="col-md-2">{{accessToken.username}}</div>
            <div class="col-md-2">{{accessToken.expiryDate | date : "yyyy-MM-dd HH:mm:ss"}}</div>
            <div class="col-md-2">{{accessToken.revoked}}</div>
            <div class="col-md-2">
                <button ng-if="!accessToken.revoked"
                        type="submit" style="margin-top: 5px; margin-bottom: 20px;"
                        class="btn btn-info"
                        data-ng-click="revokeAccessToken(accessToken)">REVOKE
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>